<div class="component-color">
    <mat-card style="width: 500px;">
        <mat-card-header style="align-self: center; width: 100%; justify-content: center">
            <mat-card-title *ngIf="loaded_models" style="align-self: center; font-weight: bold;  padding: 40px;"><h3>Select Item</h3></mat-card-title>
            <mat-card-subtitle *ngIf="!loaded_models" style="align-self: center; font-weight: bold; padding: 40px;"><h3>Loading Models</h3></mat-card-subtitle>

        </mat-card-header>
        <mat-progress-bar *ngIf="!loaded_models" style="align-self: center" color="primary" mode="query"></mat-progress-bar>
        <div *ngIf="!loaded_models && false">
            <p>Loading Models</p>
            <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
        </div>

        <mat-grid-list cols="3" rowHeight="1:1.2" style="width: 100%" *ngIf="loaded_models">
            <mat-grid-tile *ngFor="let model of trained_models">
                <mat-card class="model" >
                    <mat-card-content style="display: flex; justify-content: center">
                        <img src="{{'data:image/jpg;base64,' + model.thumbnail}}" style="width:80%; height: 80%; align-self: center"/>
                    </mat-card-content>
                    <mat-card-footer style="display: flex; justify-content: center">
                        <button style="align-self: center; background-color: #e9e9e9; margin-top: 10px; margin-bottom: 25px;" mat-raised-button color="accent"  (click)="selectModel(model)">{{model.name}}</button>
                    </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
